.gpt3__whatgpt3-container {
  padding: 6rem;
  background: radial-gradient(circle at top left, rgb(0, 24, 86), transparent 300px),
    radial-gradient(circle at bottom right, rgb(0, 28, 100), transparent 500px);
  background-color: var(--color-footer);
}

.gpt3__whatgpt3-container__what {
  display: flex;
  gap: 15rem;
}

.gpt3__whatgpt3-container__possibilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 9rem 0;
}

.gpt3__whatgpt3-container__possibilities h2 {
  max-width: 47rem;
}

.gpt3__whatgpt3-container__possibilities span {
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  color: #ff8a71;
}
.gpt3__whatgpt3-container__possibilities span:hover {
  color: #c05841;
}

.gpt3__whatgpt3-container__more {
  display: flex;
  gap: 4rem;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .gpt3__whatgpt3-container__possibilities {
    display: block;
    margin: 5rem 0;
  }
  .gpt3__whatgpt3-container__possibilities h2 {
    margin-bottom: 1rem;
  }
  .gpt3__whatgpt3-container__what {
    display: block;
  }
  .gpt3__whatgpt3-container__more {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__whatgpt3-container {
    padding: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__whatgpt3-container {
    padding: 2rem;
  }
}