.gpt3__features {
  display: flex;
  gap: 13.5rem;
  width: 100%;
}

.gpt3__features-container:nth-of-type(1) {
  flex: 1.5;
}

.gpt3__features-container:nth-of-type(2) {
  flex: 2;
}

.gpt3__features-container__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gpt3__features-container__box:not(:last-child) {
  margin-bottom: 2rem;
}

.gpt3__features-container__box p {
  flex-basis: 33.3rem;
  /* margin-left: 7rem; */
}
.gpt3__features-container__box h3 {
  flex-basis: 16rem;
}

@media screen and (max-width: 1050px) {
  .gpt3__features {
    display: block;
  }
  .gpt3__features-container:nth-of-type(1) {
    margin-bottom: 3rem;
  }
  .gpt3__features-container__box {
    display: block;
  }
}
