*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

html {
  font-family: var(--font-family);
  font-size: 62.5%; /* 1rem = 10px/16px = 62.5%*/
}

body {
  box-sizing: border-box;

  font-weight: 400;
  line-height: 1.7;
  color: #fff;

  background-color: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}

/* width */
*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--color-footer);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--gradient-text);
}

.gradient__bg {
  background: radial-gradient(circle at top left, rgba(0, 40, 83, 0.5), transparent 1000px),
    radial-gradient(circle at right, rgba(0, 40, 83, 0.3), transparent 600px);
}

.gradient__text {
  background-image: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 6rem 8rem;
}

.section__margin {
  margin: 6rem 8rem;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.gpt3__heading-big {
  font-size: 6.5rem;
  font-weight: 800;
  line-height: 7.5rem;
  letter-spacing: -0.04em;
}

.gpt3__heading-middle {
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 4.5rem;
}

.gpt3__heading-small {
  position: relative;

  min-width: fit-content;

  font-size: 2.4rem;
  font-weight: 800;
  line-height: 5.5rem;
}

.gpt3__heading-small::before {
  content: '';

  position: absolute;

  width: 3.8rem;
  height: 3px;

  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%), #ffffff;
}

.gpt3__description-big {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: var(--color-text);
}

.gpt3__description-middle {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
  color: var(--color-text);
}

.gpt3__description-small {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: var(--color-text);
}

.gpt3__line {
  display: inline-block;
  width: 3.8rem;
  height: 3px;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%), #ffffff;
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 375px) {
  .gpt3__heading-big {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  .gpt3__description-big {
    font-size: 1.7rem;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 6rem;
  }
  .section__margin {
    padding: 6rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem 2rem;
  }
  .section__margin {
    padding: 2rem 2rem;
  }
}
